# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=sharenest
MONGODB_COLLECTION=content

# JWT Authentication
JWT_SECRET=CHE_96_ED_$%_33

# Server Configuration
PORT=1234
HOST=localhost

# Yjs Configuration
GC=true

